In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('First_Project').getOrCreate()

In [3]:
df = spark.read.csv('data_clean_UFC.csv', inferSchema = True, header = True)

## Looking for a particular fighter into a big bunch of data

In [4]:
df.filter((df['Red'] == 'Jon Jones') | (df['Blue'] == 'Jon Jones')).select(['Winner','Red','Blue']).show()

+------+--------------+--------------------+
|Winner|           Red|                Blue|
+------+--------------+--------------------+
|   Red|     Jon Jones|       Anthony Smith|
|   Red|     Jon Jones|Alexander Gustafsson|
|  Draw|Daniel Cormier|           Jon Jones|
|   Red|     Jon Jones|  Ovince Saint Preux|
|   Red|     Jon Jones|      Daniel Cormier|
|   Red|     Jon Jones|     Glover Teixeira|
|   Red|     Jon Jones|Alexander Gustafsson|
|   Red|     Jon Jones|        Chael Sonnen|
|   Red|     Jon Jones|       Vitor Belfort|
|   Red|     Jon Jones|        Rashad Evans|
|   Red|     Jon Jones|       Lyoto Machida|
|   Red|     Jon Jones|     Rampage Jackson|
|  Blue|  Mauricio Rua|           Jon Jones|
|   Red|     Jon Jones|          Ryan Bader|
|   Red|     Jon Jones|Vladimir Matyushenko|
|  Blue|  Brandon Vera|           Jon Jones|
|   Red|   Matt Hamill|           Jon Jones|
|   Red|     Jon Jones|        Jake O'Brien|
|   Red|     Jon Jones|      Stephan Bonnar|
|   Red|     Jon Jones|        Andre Gusmao|
+------+--------------+--------------------+

## Query (SQL code) to do the same thing

In [5]:
df.createOrReplaceTempView('julio_query')
query = spark.sql("SELECT Winner,Red,Blue FROM julio_query WHERE Red = 'Jon Jones' OR Blue = 'Jon Jones' ")

In [6]:
query.show()

+------+--------------+--------------------+
|Winner|           Red|                Blue|
+------+--------------+--------------------+
|   Red|     Jon Jones|       Anthony Smith|
|   Red|     Jon Jones|Alexander Gustafsson|
|  Draw|Daniel Cormier|           Jon Jones|
|   Red|     Jon Jones|  Ovince Saint Preux|
|   Red|     Jon Jones|      Daniel Cormier|
|   Red|     Jon Jones|     Glover Teixeira|
|   Red|     Jon Jones|Alexander Gustafsson|
|   Red|     Jon Jones|        Chael Sonnen|
|   Red|     Jon Jones|       Vitor Belfort|
|   Red|     Jon Jones|        Rashad Evans|
|   Red|     Jon Jones|       Lyoto Machida|
|   Red|     Jon Jones|     Rampage Jackson|
|  Blue|  Mauricio Rua|           Jon Jones|
|   Red|     Jon Jones|          Ryan Bader|
|   Red|     Jon Jones|Vladimir Matyushenko|
|  Blue|  Brandon Vera|           Jon Jones|
|   Red|   Matt Hamill|           Jon Jones|
|   Red|     Jon Jones|        Jake O'Brien|
|   Red|     Jon Jones|      Stephan Bonnar|
|   Red|     Jon Jones|        Andre Gusmao|
+------+--------------+--------------------+

## Query to know the tallest fighter in the UFC

In [7]:
query2 = spark.sql("SELECT Red, Blue, B_Height_cms, R_Height_cms FROM julio_query WHERE (B_Height_cms = (SELECT MAX(B_Height_cms) FROM (julio_query))) OR (R_Height_cms = (SELECT MAX(B_Height_cms) FROM (julio_query)))  ")

In [8]:
query2.show()

+----------------+--------------------+------------+------------+
|             Red|                Blue|B_Height_cms|R_Height_cms|
+----------------+--------------------+------------+------------+
|   Stefan Struve|Marcos Rogerio de...|      185.42|      210.82|
|   Marcin Tybura|       Stefan Struve|      210.82|       190.5|
|   Stefan Struve|     Andrei Arlovski|       190.5|      210.82|
|Alexander Volkov|       Stefan Struve|      210.82|      200.66|
|   Stefan Struve|  Daniel Omielanczuk|      182.88|      210.82|
|   Antonio Silva|       Stefan Struve|      210.82|      193.04|
|   Stefan Struve|       Jared Rosholt|      187.96|      210.82|
|   Stefan Struve|  Minotauro Nogueira|       190.5|      210.82|
|Alistair Overeem|       Stefan Struve|      210.82|      193.04|
|   Stefan Struve|           Mark Hunt|       177.8|      210.82|
|   Stefan Struve|        Stipe Miocic|      193.04|      210.82|
|   Stefan Struve|       Lavar Johnson|      193.04|      210.82|
|   Stefan Struve|         Dave Herman|      193.04|      210.82|
|       Pat Barry|       Stefan Struve|      210.82|      180.34|
|   Stefan Struve|       Travis Browne|      198.12|      210.82|
|   Stefan Struve|       Sean McCorkle|      200.66|      210.82|
|   Stefan Struve| Christian Morecraft|      198.12|      210.82|
|      Roy Nelson|       Stefan Struve|      210.82|      182.88|
|   Stefan Struve|      Paul Buentello|      187.96|      210.82|
|   Stefan Struve|       Chase Gormley|       190.5|      210.82|
+----------------+--------------------+------------+------------+
only showing top 20 rows

In [9]:
query2 = spark.sql("SELECT Red, Blue, B_Height_cms, R_Height_cms FROM julio_query WHERE (B_Height_cms = (SELECT MAX(B_Height_cms) FROM (julio_query)))")

In [10]:
query2.show()

+-----------------+-------------+------------+------------+
|              Red|         Blue|B_Height_cms|R_Height_cms|
+-----------------+-------------+------------+------------+
|    Marcin Tybura|Stefan Struve|      210.82|       190.5|
| Alexander Volkov|Stefan Struve|      210.82|      200.66|
|    Antonio Silva|Stefan Struve|      210.82|      193.04|
| Alistair Overeem|Stefan Struve|      210.82|      193.04|
|        Pat Barry|Stefan Struve|      210.82|      180.34|
|       Roy Nelson|Stefan Struve|      210.82|      182.88|
|Junior Dos Santos|Stefan Struve|      210.82|      193.04|
+-----------------+-------------+------------+------------+

In [11]:
query3 = spark.sql("SELECT Red, Blue, R_Weight_lbs, B_Weight_lbs FROM julio_query WHERE (B_Weight_lbs = (SELECT MAX(B_Weight_lbs) FROM (julio_query))) OR (R_Weight_lbs = (SELECT MAX(R_Weight_lbs) FROM (julio_query)))  ")

In [12]:
query3.show()

+-------------+-------------------+------------+------------+
|          Red|               Blue|R_Weight_lbs|B_Weight_lbs|
+-------------+-------------------+------------+------------+
|Andre Roberts|       Ron Waterman|       345.0|       280.0|
|   Dan Bobish|     Brian Johnston|       345.0|       230.0|
|Keith Hackney|Emmanuel Yarborough|       200.0|       770.0|
+-------------+-------------------+------------+------------+

In [14]:
query4 = spark.sql("SELECT MAX(B_Weight_lbs) FROM julio_query")

In [15]:
query4.show()

+-----------------+
|max(B_Weight_lbs)|
+-----------------+
|            770.0|
+-----------------+

In [21]:
query5 = spark.sql("SELECT MAX(B_Weight_lbs) FROM julio_query  WHERE B_Weight_lbs Not In (SELECT MAX(B_Weight_lbs) FROM julio_query)")

In [22]:
query5.show()

+-----------------+
|max(B_Weight_lbs)|
+-----------------+
|            430.0|
+-----------------+

In [28]:
query6 = spark.sql("SELECT B_Weight_lbs FROM julio_query WHERE B_Weight_lbs BETWEEN 380 AND 800 ")

In [29]:
query6.show()

+------------+
|B_Weight_lbs|
+------------+
|       410.0|
|       400.0|
|       770.0|
|       430.0|
+------------+

## Printing name of 2nd fattest fighter

In [39]:
query7 = spark.sql("SELECT Blue, B_Weight_lbs FROM julio_query WHERE B_Weight_lbs In (SELECT MAX(B_Weight_lbs) FROM julio_query WHERE B_Weight_lbs Not In (SELECT MAX(B_Weight_lbs) FROM julio_query))")

In [40]:
query7.show()

+----------+------------+
|      Blue|B_Weight_lbs|
+----------+------------+
|Teila Tuli|       430.0|
+----------+------------+